.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 30px;
  justify-content: space-between;
}

.label {
  color: hsl(213, 96%, 18%);
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 13px;
}

.input {
  color: hsl(213, 96%, 18%);
  font-weight: 500;
  padding: 20px 15px;
  border-radius: 8px;
}

.input:focus {
  border: 1px solid hsl(243, 100%, 62%);
}

.next_button {
  background-color: hsl(213, 96%, 18%);
  font-weight: 500;
}

.next_button:hover {
  background-color: hsl(213, 96%, 27%);
}

.error_message {
  position: absolute;
  top: 0;
  right: 0;
  color: #fb5252;
  font-weight: bold;
  font-size: 13px;
}

@media (max-width: 800px) {
  .container {
    padding-top: 0;
  }
}
