.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 30px;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(229, 24%, 87%);
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  border-color: hsl(243, 100%, 62%);
}

.next_button {
  background-color: hsl(213, 96%, 18%);
  font-weight: 500;
}

.back_button {
  background: none;
  color: hsl(231, 11%, 63%);
}

.next_button:hover {
  background-color: hsl(213, 96%, 27%);
}

.back_button:hover {
  color: hsl(213, 96%, 27%);
}

.active_checkbox {
  background-color: hsla(243, 100%, 62%, 0.05);
  border-color: hsl(243, 100%, 62%);
}

@media (max-width: 800px) {
  .container {
    padding-top: 0;
  }
}
