.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 30px;
  justify-content: space-between;
}

.next_button {
  background-color: hsl(243, 100%, 62%);
  font-weight: 500;
}

.back_button {
  background: none;
  color: hsl(231, 11%, 63%);
}

.next_button:hover {
  background-color: hsla(243, 100%, 62%, 0.678);
}

.back_button:hover {
  color: hsl(213, 96%, 27%);
}

.change_button {
  margin-top: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.change_button:hover {
  color: hsl(243, 100%, 62%);
}

@media (max-width: 800px) {
  .container {
    padding-top: 0;
  }
}