* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(229, 24%, 87%);
  font-family: "Ubuntu", sans-serif;
}

.container {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: 600px;
  width: 900px;
}

.step-container {
  padding: 40px 30px;
  width: 40%;
  height: 100%;
  background-image: url("/bg-sidebar-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.choice-container {
  display: flex;
  gap: 14px;
}

.step-btn {
  border-radius: 50%;
  border: 1px solid white;
  width: 35px;
  background: none;
  color: white;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

.step-number {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 500;
}

.step-title {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
}
