* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(229, 24%, 87%);
  font-family: "Ubuntu", sans-serif;
  position: relative;
  z-index: 2;
}

.container {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: 600px;
  width: 900px;
}

.sidebar-container {
  padding: 40px 30px;
  width: 70%;
  height: 100%;
  background-image: url("/bg-sidebar-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.travel-steps-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.plan-container {
  width: 100%;
  margin-right: 70px;
}

.choice-container {
  display: flex;
  gap: 14px;
  margin-bottom: 30px;
}

.step-btn {
  border-radius: 50%;
  border: 1px solid white;
  width: 38px;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}

.step-number {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
  font-weight: 500;
}

.step-title {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
}

p {
  line-height: 18px;
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}

h2 {
  color: hsl(213, 96%, 27%);
  font-size: 18px;
}

input[type="checkbox"] {
  accent-color: hsl(213, 96%, 27%);
  cursor: pointer;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    width: 90vw;
    height: auto;
  }

  .sidebar-container {
    position: absolute;
    z-index: -1;
    background-size: cover;
    display: flex;
    gap: 14px;
    flex-direction: row;
    justify-content: center;
    background-image: url("/bg-sidebar-mobile.svg");
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
  }

  .choice-container {
    gap: 0;
  }

  .travel-steps-container {
    padding: 0 28px;
    position: absolute;
    align-items: center;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: white;
    margin-bottom: 0;
    height: 70px;
  }

  .step-btn {
    width: 40px;
    height: 40px;
  }

  .step-title {
    display: none;
  }

  .step-number {
    display: none;
  }
}
